<!-- Abhishek -->
<nav class="navbar navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../../assets/favicon-32x32.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="logo"
      />
      <span class="ms-3 fw-semibold text-secondary fs-6" *ngIf="!isMobile">{{
        "Procurement Analytics Dashboard"
      }}</span>
    </a>
    <form class="form-inline" *ngIf="!isLoggedIn; else logout">
      <a
        routerLink="/login"
        class="me-4 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover"
        >Login</a
      >
      <a
        routerLink="/register"
        class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover"
        >Register</a
      >
    </form>
    <ng-template class="pe-auto" #logout>
      <a
        (click)="logoutUser()"
        class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover"
        >Logout</a
      >
    </ng-template>
  </div>
</nav>
