<div class="bg-body-secondary w-100 h-100">
  <div class="container d-flex justify-content-between pt-3">
    <div class="d-flex flex-column w-75 me-3">
      <!-- Rishabh -->
      <div class="d-flex justify-content-between mb-3">
        <div
          class="d-flex me-3 w-25 flex-column justify-content-center align-items-center bg-white p-4 py-3 rounded-5"
        >
          <h6 class="text-secondary">Total Customer</h6>
          <h3 class="text-success">250+</h3>
        </div>
        <div
          class="d-flex me-3 w-25 flex-column justify-content-center align-items-center bg-white p-4 py-3 rounded-5"
        >
          <h6 class="text-secondary">Active Contract</h6>
          <h3 class="text-success">300</h3>
        </div>
        <div
          class="d-flex me-3 w-25 flex-column justify-content-center align-items-center bg-white p-4 py-3 rounded-5"
        >
          <h6 class="text-secondary">Avg. Revenue</h6>
          <h3 class="text-success">20 K</h3>
        </div>
        <div
          class="d-flex w-25 flex-column justify-content-center align-items-center bg-white p-4 py-3 rounded-5"
        >
          <h6 class="text-secondary">Total Revenue</h6>
          <h3 class="text-success">50 L</h3>
        </div>
      </div>
      <!-- Abhishek -->
      <div
        class="d-flex flex-column justify-content-center bg-white p-4 rounded-5 pt-4"
      >
        <p-chart
          type="line"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
      </div>
    </div>
    <div class="w-25">
      <div class="p-3 rounded-5 bg-white mb-3">
        <p-chart
          type="pie"
          [data]="dataPieChart"
          [options]="optionsPieChart"
        ></p-chart>
      </div>
      <div class="p-3 rounded-5 bg-white">
        <p-chart
          type="doughnut"
          [data]="dataDoughnut"
          [options]="optionsDoughnut"
        ></p-chart>
      </div>
    </div>
  </div>
</div>
